.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: grey solid 1px;
  background-color: white;
}

.selected {
  background-color: black;
}
